/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  ul {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  /* Estilos de la barra de navegación */
  
 
  
  nav a {
    color: white;
    font-size: 1.2rem;
  }
  
  .brand-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Estilos de las secciones */
  
  section {
    padding: 4rem 0;
  }
  
  section:nth-of-type(odd) {
    background-color: #f2f2f2;
  }
  
  /* Estilos de la sección de contacto */
  
  ul li {
    margin-bottom: 0.5rem;
  }
  
  .fa-twitter, .fa-facebook, .fa-instagram {
    font-size: 2rem;
    margin-right: 1rem;
    color: #2196F3;
  }
  
  .fa-twitter:hover, .fa-facebook:hover, .fa-instagram:hover {
    color: white;
  }
  
  /* Estilos para pantallas pequeñas */
  
  @media only screen and (max-width: 600px) {
    h2 {
      font-size: 1.5rem;
    }
  
    p {
      font-size: 1rem;
    }
  
    ul {
      font-size: 1rem;
    }
  
    .brand-logo {
      font-size: 1rem;
    }
  
    .fa-twitter, .fa-facebook, .fa-instagram {
      font-size: 1.5rem;
      margin-right: 0.5rem;
    }
  }